# top-most EditorConfig file for libstdc++-v3
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{h,cc}]
charset = utf-8
indent_style = tab
indent_size = 2
tab_width = 8
trim_trailing_whitespace = true

[{Makefile,ChangeLog}*]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true

[ChangeLog*]
charset = utf-8

[*.xml]
charset = utf-8
indent_size = 2
tab_width = 8
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.exp]
indent_style = tab
indent_size = 4
tab_width = 8
trim_trailing_whitespace = true
