16  0 * * * sh /home/gccadmin/scripts/update_version_svn
50  0 * * * sh /home/gccadmin/scripts/update_web_docs_svn
55  0 * * * sh /home/gccadmin/scripts/update_web_docs_libstdcxx_svn
32 22 * * 5 sh /home/gccadmin/scripts/gcc_release -s 4.6:branches/gcc-4_6-branch -l -d /sourceware/snapshot-tmp/gcc all
32 22 * * 6 sh /home/gccadmin/scripts/gcc_release -s 4.7:branches/gcc-4_7-branch -l -d /sourceware/snapshot-tmp/gcc all
32 22 * * 7 sh /home/gccadmin/scripts/gcc_release -s 4.8:trunk -l -d /sourceware/snapshot-tmp/gcc all
