16 0 * * * sh /home/gccadmin/scripts/update_version
50 0 * * * sh /home/gccadmin/scripts/update_web_docs
55 0 * * * sh /home/gccadmin/scripts/update_web_docs_libstdcxx
40 16 * * 1 sh /home/gccadmin/scripts/gcc_release -s 3.3:gcc-3_3-branch -l -d /sourceware/snapshot-tmp all
42 16 * * 3 sh /home/gccadmin/scripts/gcc_release -s 3.4:HEAD           -l -d /sourceware/snapshot-tmp all
