
BODY { 
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  background-color: white;
  color: black;
}

PRE {
  background-color: lightgrey;
  color: black;
  border: thin;
  border-style: solid;
}

