root = true

[*.cc]
indent_style = tab
indent_size = 2
tab_width = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile*,ChangeLog*]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true