*.diff
*.patch
*.orig
*.rej

*~
.#*
*#
.*.swp

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp
*.a

.deps
.libs

autom4te.cache
config.cache
# GCC does not support in-tree builds, do not conceal a stray config.h:
# config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub
cscope.out

.local.vimrc
.lvimrc
.vscode

.clang-format
.clang-tidy
.clangd
.cache
compile_commands.json

.gdbinit
.gdb_history

perf.data
perf.data.old

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION

stamp-*
*.stamp

# ignore in-tree prerequisites
/mpfr*
/mpc*
/gmp*
/isl*
/gettext*

# ADDITIONS from GCCRS front-end
libgrust/*/target/
