BUGID=28970
FIND=break
LANG=c
BUILD_KIND=full
BUG_KIND=wrong-code
OPTS="-O2"
REG_CONFOPTS="--disable-bootstrap"

. ./common.config

#LOW_PATCH=101
#HIGH_PATCH=111

#msg 0 'NOTE: skipping low patch, already verified'
#SKIP_LOW=1
#msg 0 'NOTE: skipping high patch, already verified'
#SKIP_HIGH=1

#REG_IDLIST="161"
