BUGID=29906b
FIND=fix
LANG=c++
BUILD_KIND=full
BUG_KIND=ice-on-valid-code
OPTS="-g"
REG_CONFOPTS="--disable-bootstrap"

. ./common.config

#LOW_PATCH=112
#HIGH_PATCH=121

#msg 0 'NOTE: skipping low patch, already verified'
#SKIP_LOW=1
msg 0 'NOTE: skipping high patch, already verified'
SKIP_HIGH=1

#REG_IDLIST="11 21 31 41 51 71 81 91 101 111"
