BUGID=30643
FIND=break
LANG=c
BUILD_KIND=simple
BUG_KIND=ice-on-valid-code
OPTS="-O2"
REG_TARGET=i686-linux

. ./common.config

REG_TEST=${BUGID}.test

#LOW_PATCH=11
#HIGH_PATCH=21

#msg 0 'NOTE: skipping low patch, already verified'
#SKIP_LOW=1
msg 0 'NOTE: skipping high patch, already verified'
SKIP_HIGH=1
