/*
 *
 * the savannah project
 * copyright 2002 (c) mathieu roy <yeupou@gnu.org>
 * see the changelog file for a detailed list of changes
 *
 *  http://savannah.gnu.org 
 *
 * this program is free software; you can redistribute it and/or
 * modify it under the terms of the gnu general public license
 * as published by the free software foundation; either version 2
 * of the license, or (at your option) any later version.
 *
 * this program is distributed in the hope that it will be useful,
 * but without any warranty; without even the implied warranty of
 * merchantability or fitness for a particular purpose.  see the
 * gnu general public license for more details.
 *
 * you should have received a copy of the gnu general public license
 * along with this program; if not, write to the free software
 * foundation, inc., 59 temple place - suite 330, boston, ma  02110-1301, usa.
 *
 * $id: savannah.css,v 1.33 2002/10/29 10:53:12 yeupou exp $
 *
 *
 * as savannah.theme is the default theme of images, this css
 * is the default css2 style definition
 * any valuable changes added that any theme should implement
 * should be implemented here
 *
*/

/* general stuff */
body { 
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
  background-color: #ffffff;
  font-family: arial,helvetica;
  font-size: small;
  color: #333333;
}

a { text-decoration: none; color: #841212;}
a:hover { text-decoration: underline; color: #ff0000; }
a:active { color: #ff0000; }

.smaller { font-size: smaller; }
.small { font-size: small; }
.xsmall { font-size: xx-small; }
.center { text-align: center; }
.left { text-align: left; }
.error { font-weight: bold; color: #ff0000; }
.bold { font-weight: bold; }
.feedback { color: red; }

pre,tt { font-family: courier,sans-serif; }
input {
        background-color: #fff9e0;
        color: #841212;
}
input:hover { color: #ff0000; }
select {
         background-color: #fff9e0;
         color: #841212;
}

/* commented out because of a bug in Mozilla 1.2* and 1.1
select:hover { color: #ff0000; }
*/
textarea {
           background-color: #fff9e0;
           color: #000000;
}
textarea:hover { color: #ff0000; }
.footer { font-size: x-small; color: #333333; }
.standardtable { width: 99%; border-spacing: 0; border: 0; color: #333333; }

/* content frame specific */
.contenttable {
  background-color: #ffffff; 
  vertical-align: top;
  width: 99%; 
  border-spacing: 0; 
  border-bottom: thin solid #333333; 
  border-top: thin solid #333333;  
  border-right: thin solid #333333;
}

/* group menu specific (see tabs and tabselect too) */
.groupmenutable { background-color: #f9e4a2; width: 100% ; border-top: thin solid #000000; border-bottom: thin solid #000000; }

/* left menu specific */
.menutable { vertical-align: top; background-color: #f4d495; width: 150px; border-spacing: 0; border: 0; font-size: small;}
.menutitle { vertical-align: top; font-weight: bold; text-align: left; color: #333333; }
.menuitem { vertical-align: top; text-align: right; color: #333333; }
.menusearch { font-size: xx-small; } 

/* classic box */
.boxtable { width: 99%; vertical-align: top; border-spacing: 1px; border: 0; }
.boxtitle { background-image: url("/images/savannah.theme/leopard.png"); background-color: #eddb5a; font-weight: bold; text-align: center; text-transform: capitalize; color: #000000; }
.boxitem { /*background-image: url("/images/savannah.theme/sand.png");*/ background-color: #fff9e0; text-align: left; color: #333333; }
.boxitemalt { background-color: #ffffff; text-align: left; color: #333333; }
.boxhighlight { background-color: #ffe0db; text-align: left; color: #333333; }

/* priority  */
.priora { background-color: #f9f7f2; }
.priorb { background-color: #f4f0e8; }
.priorc { background-color: #efeade; }
.priord { background-color: #eae3d5; }
.priore { background-color: #e2dbcc; }
.priorf { background-color: #ddd7c7; }
.priorg { background-color: #d8d1be; }
.priorh { background-color: #d6ceb8; }
.priori { background-color: #d3caaf; }

/* index.php */
.indexcenter { vertical-align: top; width: 65%; color: #333333; }
.indexright { vertical-align: top; width: 35%; color: #333333; }

/* tabs */
.tabselect { color: #000000; font-weight: bold; }
.tabselect:visited { font-weight: bold;}
.tabselect:hover { color:#ff0000; font-weight: bold; }

.titlebar { text-decoration:none; color:#000000; font-size: small; font-weight: bold; }
.develtitle { color:#000000; font-weight: bold; }
.legallink { color:#000000; font-weight: bold; }



/* this is the original sourceforge css.. we let this stuff here until this savaannah css is fully used */

span.center { text-align: center; }
span.boxspace { font-size: 2pt; }
span.alignright { text-align: right }
span.maintitlebar { font-size: 10pt; color: #ffffff; }
span.titlebar { text-align: center; font-size: larger; color: #000000; font-weight: bold; }

